<div class="container">
    <img src="/love.png">
    <div class="names">
        Lilly &amp; Nathan
    </div>
    <div class="timer">
        Happily together for <span data-date="2015-10-23 08:00:00" data-format="until"></span>
    </p>
</div>