@import url('//fonts.googleapis.com/css?family=Arvo');

.container {
    max-width: 550px;
    margin: auto;
    margin-top: 20px;
    font-family: "Arvo";
    text-align: center;
}

img {
    max-width: 80%;
    margin-bottom: 20px;
}

.names {
    color: black;
    margin-bottom: 20px;
    font-size: 30px;
}

.timer {
    color: #999;
    font-size: 20px;
}